<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-offset-4 col-md-4">
        <h1 class="title">Edit</h1>
        <%= form_with model: @user, url: user_path(current_user), local: true do |f| %>

          <%= f.label :名前, for: 'name' %>
          <%= f.text_field :name, class: 'form-control form-group', id: 'name' %>

          <%= f.label :メールアドレス, for: 'email' %>
          <%= f.text_field :email, class: 'form-control form-group', id: 'email' %>

          <%= f.label :パスワード, for: 'password' %>
          <%= f.password_field :password, class: 'form-control form-group', id: 'password' %>

          <%= f.label :パスワード（確認）, for: 'password_confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control form-group', id: 'password_confirmation' %>

          <%= f.submit "登録", class: 'btn btn-outline-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>