<%= render 'shared/header' %>
<div class="users-new-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Sign up</h1>
        <%= form_with model: @user, url: signup_path do |f| %>
        <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control form-group' %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control form-group' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control form-group' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control form-group' %>

            <%= f.submit "登録", class: 'btn btn-outline-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>