<div class="container">
  <div class="line-bc">
    <%= render 'shared/addform' %>
    <h2 class="list-title pt-5">List</h2>
    <% @user.topics.each do |topic| %>
      <div class="row">
        <div class="message p-2">
          <div class="send_message rounded-pill p-2 float-left">
            <%= topic.send_message %>
          </div>

          <div class="receive_message rounded-pill p-2 float-left">
            <%= topic.receive_message %>
          </div>

          <div class="option float-right ">
            <%= link_to topic, method: :delete do %>
              <%= fa_icon("trash") %>
            <% end %>
            <%= link_to edit_topic_path(topic.id), modle: @topic do %>
              <%= fa_icon("edit") %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>